body{
    background-color: #241235;
}
@font-face { font-family: 'Graffiti'; src: url('GraffitiYouth-Regular.otf') format('opentype'); font-weight: normal; font-style: normal; }
.nav{padding-bottom: 4vw;
   position: sticky;
   top:0;
   background-color: #241235;
    text-decoration: none;
   height: 3vw;
    text-size-adjust: 1vw;
    overflow: none;
    font-size: 1.6vw;
    display: flex;
    margin-right: 0.5 vw;
    gap: 3vw;
    overflow: hidden;
    
}
.nav a{
    text-decoration: none;
   
    float: left;
    display: block;
    color:#3ce40d;
    text-align: left;
    padding: 3vw 6vw;   
    text-decoration-color: none;
}
.nav a:hover{
    background-color: #3ce40d;
    color: #140017;

}

.glaven{width: 77vw;
    padding-top: 3vw;
  display: flex; justify-content: right;
  
}
.info{
    
      padding: 4vw;
    height: 100%;
    width: 50vw;
    display: flex;
    justify-content: right;
    ;


} 
.info h1{
    text-align: left;
    color: #3ce40d;
    font-family: 	'Graffiti', sans-serif;
    width: 50vw;
    font-size: 4vw;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;;
}
.info p{
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman',  cursive;

}
.slika{
   
    width: 40%;
    height: 30%;
    
    
}.slik{

border-radius: 50%;
    margin: 1vw;
   box-shadow: 1vw 1vw 2vw;
    float: right;
    
}
.slika{
    
    
}
.tekst{    
margin-left: 2vw;
    float: right;
    width: 50%;
}
.vtor{
    width: 90%;
}
.vtor h3{
    font-family: cursive;
    text-align: centar;
    color: #3ce40d;
    font-size: 2vw;
}
.vtor h2{
    font-family: cursive;
    text-align: centar;
    color: white;
    font-size: 2vw;
}
.vtor h4{
    font-family: cursive;
    text-align: centar;
    color: #3ce40d;
    font-size: 1.4vw;
    width: 40%;
}
.vtor{
 
}
.pordfolio{
    background-color: #ffffff;
    padding: 3vw;
    margin:  3vw;
    
}
.moe{
 font-size:3vw;
}

.ppr {padding: 1vw;
    margin:1vw;
 border:0.5px solid;
border-color: #000;
border-width: 3px;

}
.naslovce{
    padding: 10px;
    margin:10px;
font-size:2vw;
    color:#000000;
text-shadow: black 2px 2px 3px;
}
.opis{
   font-size: 1.5vw;
    text-align: left;
    color: #000000;
    pad: 1vw;
    margin:1vw;
}
.podnaslovce{
    font-size:1.5vw;
    color:#140017;
    text-shadow: #000 1px 1px 2px;
     margin:3vw;
}
footer{
    padding: 2vw;
  text-align: center;
    background-color: #3ce40d;
    
    color:black;
}
.concon{
    display:flex;
    float: center;
    
    background-color: white;
    width: 40vw;
    padding:5vw;
}
#zakont{
    background-color: white;
float: center;

width:50vw;
text-align: center;
padding: 2vw;
margin: 3vw;

}